[2022-03-14 12:24] souradeep-das opened #12 "enhance supportInterface on NFT Bridges"
### Issue
currently, the L1/L2StandardERC721 has EIP165 supportInterfaces() implemented to query the implementation and compatibility withe the NFT Bridges, when fulfilling the bridge transaction.

In addition to which, it must also be able to return its support for ERC721 and ERC721Metadata interfaces

The NFTBridges, while registering the ERC721 pair contracts on each side - do not have checks s

[2022-03-14 13:49] souradeep-das opened #13 "ERC721 Metadata and NFT Bridges"
## Working with ERC721 Metadata's on the NFT Bridges

Categorizing ERC721s into three types on the basis of metadata, as per our interests

1.  ERC721 with derivable metaData (more common)
`tokenURI` returns in the form `baseURI` + `tokenID`
2.  ERC721 with custom metaData
not 1) and`tokenURI` is unique for each token (non-derivable on-chain) or is dependent on custom salt or fully on-chain metada

[2022-03-15 18:43] CAPtheorem opened #15 "GH actions hangs and bugs"
1. GH actions sometimes hang at the very last step:

<img width="747" alt="Screen Shot 2022-03-15 at 11 40 04 AM" src="https://user-images.githubusercontent.com/79423264/158448698-275066be-7d62-41f8-ae4c-b2005b5191be.png">

2. Other times, the test runs fail at the image download step.

3. Other times, integration test runs 3 or 4 fail due to timeouts - 1 and 2 tend to pass reliably.

4. Finally,

[2022-03-18 10:42] souradeep-das opened #23 "Dev turingMonsters representation contract to work with NFTBridges"

[2022-03-21 16:12] souradeep-das opened #29 "sporadic test failures with new watcher"
some integ tests occasionally fails with "Provided message has already been received."

1) Basic L1<>L2 Communication
    L2 => L1
     {tag:other} should be able to perform a withdrawal from L2 -> L1:
2) Bridged tokens
    {tag:other} should withdraw tokens from L2 to the transfer recipient:

hints: fast-relayer might compete with message-relayer

[2022-03-21 17:25] CAPtheorem commented on #29
remove duplicated message relay per @souradeep-das https://github.com/bobanetwork/boba/pull/19/commits/75a7addf80b5f0db3e4c8e435840fcf5a186be44

[2022-03-21 17:25] #29 closed

[2022-03-23 15:13] souradeep-das commented on #12
closed by #17

[2022-03-23 15:13] #12 closed

[2022-03-25 17:51] wsdt opened #43 "Boba SDK"
ToDo:
- Plug & Play deployment of AWS endpoint, e.g.:

[code]

---

- NPM package for common use cases (KYC, Turing Examples Price Feed, etc.) --> all of them should have a ready to deploy template file for AWS.

---

- DevOps / VCS / Tests pipeline, etc. whatever is needed for safe usage.

[2022-03-25 17:52] CAPtheorem commented on #43
AWS example here: https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-getting-started-hello-world.html

[2022-03-26 19:15] #23 closed

[2022-03-27 21:54] CAPtheorem opened #46 "Gateway Bridge screen first impressions"
1/ Key button is labeled transfer - this should be called Fast Bridge, MultiBridge or Classic Bridge?
2/ The Bridge switcher does nothing? When I click ’switch’ nothing seems to happen
3/ Unclear which bridge I’m about to use - could change the Botton label to say ‘classic bridge’ or ‘fast bridge’ to reduce confusion - see #1
4/ Prices/fees/labels do not change with bridge type setting - for examp

[2022-03-28 08:58] sk-enya commented on #46
4/ Prices/fees/labels do not change with bridge type setting - for example, when I go to the classic bridge, there should be no 0.1% fee etc. The percent fees are only relevant to the fast bridge
currently this is just hard coded, can you please help me with correct behaviour here.

[2022-03-28 09:05] sk-enya commented on #46
6/ The amount +/- buttons don’t seem to do anything?
_**Amount + / - buttons will only enable in case of fast bridge with multi tokens.**_

[2022-03-28 16:43] sk-enya commented on #46
**Note** : _There is no connection of any kind between the fast bridge and the multibridge_

there should be separate option above the token input to switch to the multi bridge.
when user selects multi bridge then :

- We should say `select tokens` instead of `select token`
- We should show the + / - action buttons
-  We do not show `Recommendations : classic bridge --- To fast bridge`

[2022-04-01 21:21] JettaRed opened #61 "How long should Fast Bridge to L1 take?"
I initiated a Fast Bridge to L1 approximately 18 hours ago.  The history shows Success for each hash.  It was a large amount of BOBA and I know there has been low liquidity recently, but I want to make sure something is not stuck.  My wallet is on a Ledger Nano X connected through MetaMask.

I know a couple of months ago, bridging transactions were failing with using a Ledger wallet and wonder if

[2022-04-01 22:41] CAPtheorem commented on #61
Your TX was initiated `18 hours ago | March-31-2022 09:56:46 PM +-7 UTC` and the bridge was completed `17 hrs 8 mins ago (Apr-01-2022 05:29:48 AM +UTC)` according to Etherscan. This means that the bridge took approximately 27 minutes. https://etherscan.io/tx/0xd23253e35ba3f5bc94adef9eeb1f6ff21acd93aa221ec612a98636ab09ff8b52

[2022-04-01 22:41] #61 closed

[2022-04-02 00:36] JettaRed commented on #61
Thanks!

[2022-04-03 22:34] CAPtheorem opened #63 "Self-delegated xBOBA not being counted correctly"
**Potential bug** People with zero BOBA but xBOBA:

(1) self delegate - which seems to work correctly - but then
(2) when they vote, only their zero BOBA is counted, but their self-delegated xBOBA is not counted.

**Expected behavior** - their vote total is the sum of BOBA and xBOBa.

Based on a first read, the contracts look good, and this is definitely something that was checked in the integrati

[2022-04-04 05:40] suyog-unmarshal opened #64 "node is stuck at block 239336"
DEBUG[04-04|05:38:37.735] VM returned with error                   err="insufficient balance for transfer"    ret=0x
DEBUG[04-04|05:38:37.736] Transaction failed, account skipped      hash=2a57dd…bd0205 err="insufficient balance for transfer"
ERROR[04-04|05:38:37.736] Problem committing transaction           msg="Cannot commit transaction in miner"
ERROR[04-04|05:38:37.736] Got error waiting for t

[2022-04-04 05:59] #64 closed

[2022-04-04 13:05] souradeep-das commented on #63
since voting power is based on the historical checkpoint for the specific proposal, this is potentially people - who delegated after the proposal's voting start time and hence do not have voting power at the proposal's startBlock time

all three dao contracts are now verified

[2022-04-07 10:19] wsdt opened #69 "Additional Option: Get Turing result not in the same TX (async)"
Having a specific "use-case" in mind, which might be interesting marketing wise and from a scientific standpoint. But this would require Turing to be able to make calls which may take e.g. 600 seconds.

Nevertheless, as discussed with @InoMurko having that option could also solve future scaling problems. Some snippets for more context from our conversation:

- Ino: `so now we do it inside estimate

[2022-04-07 11:36] souradeep-das commented on #69
interesting! just a thought - for implementing (or adding the option of) an async push oracle, should we be relying on Turing- (in turn l2geth changes) or should we have architecture along the lines of common l1 oracles like chainlink, band?
it of course might be sensible though to add this as an option - since we already have turing

[2022-04-07 13:27] wsdt commented on #69
Best practice/low hanging fruit probably would be to just try to onboard ChainLink on Boba, but this wouldn't drive the Boba ecosystem by definition and would weaken the Turing use-case.

Nevertheless, before we go for an own architecture like ChainLink, I think it would be from a cost-to-revenue ratio more profitable to just onboard the real ChainLink on Boba.

Doing l2geth changes for sure has t

[2022-04-07 23:01] #63 closed

[2022-04-07 23:07] CAPtheorem opened #77 "Gateway ToDos"
At least actions involved hardcoded fees - those all need to be looked up / estimated.

Actions affected:

* Save: getMaxTransferValue
* FarmDepositModal: getMaxTransferValue

[2022-04-08 17:49] MitchellUnknown opened #81 "Feedback - Rinkeby Fee Switcher & Ecosystem page"
Hey guys,
I have some feedback for the new rinkeby gateway features. I sincerely apologize for the upcoming MUI inconvenience and potential PTSD.

**Ecosystem page**
(1) Change the color of the ‘non selected’ filter buttons to a more neutral color on the new and improved ecosystem page to make it more visable.

![0 Color Change](https://user-images.githubusercontent.com/90399189/162483645-284e9265

[2022-04-08 18:29] CAPtheorem commented on #81
thanks @MitchellUnknown this is great feedback as usual. We will tackle the visual glitches (@sk-enya) and separately deal with the `getting-stuck` issue - which is a major one. We have a `MetaTransaction` system in in place where we can charge in the opposite currency to get people unstuck - so you can pay in BOBA to switch from ETH to BOBA if you have zero ETH. We'll try to have that all up by T

[2022-04-08 18:31] CAPtheorem commented on #81
@sk-enya please tackle the basic visuals. I don't know where @MitchellUnknown is seeing the downgraded picker:
<img width="153" alt="Screen Shot 2022-04-08 at 11 24 56 AM" src="https://user-images.githubusercontent.com/79423264/162500591-a5e3da33-a287-4d02-8b72-395a1b9a982f.png">
As far as I know they should all look like this:
<img width="129" alt="Screen Shot 2022-04-08 at 11 30 34 AM" src="http

[2022-04-08 19:20] MitchellUnknown commented on #81
Awesome! Great job guys. Lot's of work being done. Don't forget to also have time to relax and enjoy the moment!

[2022-04-13 02:55] mengyuexxx opened #99 "How to build rinkeby Boba node, is Boba rinkeby Layer 1 based on Ethereum rinkeky?"
I have a problem, I want to build Boba rinkeby node, I deployed it based on docker-compose, but encountered the following error：
![image](https://user-images.githubusercontent.com/97864296/163090675-0163f7f4-2a13-4bea-a3d2-d8404916d0dc.png)

Here is my docker-compose configuration, how do I go about solving it
![image](https://user-images.githubusercontent.com/97864296/163090801-ab0254d0-24c6-4cb1

[2022-04-13 03:46] CAPtheorem commented on #99
Hi! Please open a PR to add this feature - it's super hard to debug a picture of code rather than code. Also, that way, when everything is configured correctly, a boba-rinkeby yaml will be available for the entire community.

[2022-04-13 06:42] mengyuexxx commented on #99
This is my docker-compose.yaml config
x-l1_rpc_dtl: &l1_rpc_dtl
  DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT: 'https://eth-rinkeby.alchemyapi.io/v2/kz0KacM3l9zrSYXQmx0rqZN7Hw6DOFUB'

x-l1_rpc_geth: &l1_rpc_geth
  ETH1_HTTP: 'https://eth-rinkeby.alchemyapi.io/v2/kz0KacM3l9zrSYXQmx0rqZN7Hw6DOFUB'

version: "3.9"

services:
  dtl-rinkeby:
    container_name: dtl-rinkeby
    image: bobanetwork/data-transpo

[2022-04-13 06:46] mengyuexxx commented on #99
Hi!

This is my docker-compose.yaml config
x-l1_rpc_dtl: &l1_rpc_dtl
DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT: 'https://eth-rinkeby.alchemyapi.io/v2/kz0KacM3l9zrSYXQmx0rqZN7Hw6DOFUB'

x-l1_rpc_geth: &l1_rpc_geth
ETH1_HTTP: 'https://eth-rinkeby.alchemyapi.io/v2/kz0KacM3l9zrSYXQmx0rqZN7Hw6DOFUB'

version: "3.9"

services:
dtl-rinkeby:
container_name: dtl-rinkeby
image: bobanetwork/data-transport-layer:

[2022-04-13 06:48] mengyuexxx commented on #99
Hi!
This is my docker-compose.yaml config
x-l1_rpc_dtl: &l1_rpc_dtl
DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT: 'https://eth-rinkeby.alchemyapi.io/v2/kz0KacM3l9zrSYXQmx0rqZN7Hw6DOFUB'

x-l1_rpc_geth: &l1_rpc_geth
ETH1_HTTP: 'https://eth-rinkeby.alchemyapi.io/v2/kz0KacM3l9zrSYXQmx0rqZN7Hw6DOFUB'

version: "3.9"

services:
dtl-rinkeby:
container_name: dtl-rinkeby
image: bobanetwork/data-transport-layer:r

[2022-04-13 08:43] mengyuexxx commented on #99
Hi! This is my docker-compose.yaml
`x-l1_rpc_dtl: &l1_rpc_dtl
  DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT: 'https://eth-rinkeby.alchemyapi.io/v2/kz0KacM3l9zrSYXQmx0rqZN7Hw6DOFUB'

x-l1_rpc_geth: &l1_rpc_geth
  ETH1_HTTP: 'https://eth-rinkeby.alchemyapi.io/v2/kz0KacM3l9zrSYXQmx0rqZN7Hw6DOFUB'

version: "3.9"

services:
  dtl-rinkeby:
    container_name: dtl-rinkeby
    image: bobanetwork/data-transport

[2022-04-14 06:15] #99 closed

[2022-04-14 06:19] mengyuexxx opened #106 "Boba Rinkeby node state-dump.lastest.json"
I want to build Rinkeby Boba Node, can you give me the configuration of Rinkeby **state-dump.lastest.json**

[2022-04-16 20:34] sk-enya commented on #77
@CAPtheorem we can close this as it's done and already merge!

[2022-04-22 20:47] CAPtheorem commented on #106
Here is all the information you need: https://github.com/bobanetwork/boba/pull/127

Should be merged in a few hours

[2022-04-26 10:04] mangcunking opened #133 "L2->L1 Ethereum is not coming in"
Through the Boba Network Mainnet Bridge,
Whether the Ethereum is requested to be moved through the L2->L1 Classic Bridge
It's the 10th day.
My Ethereum doesn't come into L1
Mainnet history is still Pending

L2 hash: 0xbbe575e7f5f92f138862a7858bef6b518d02d868feb7440070a0653b72e88e08

[2022-04-26 20:57] CAPtheorem commented on #106
@mengyuexxx are you all set now?

[2022-04-26 21:06] CAPtheorem opened #135 "documentation needed updates"
1. *Fee overview* needs checking: https://github.com/bobanetwork/boba/blob/docs-in-monrepo/boba_documentation/developer/fee-scheme.md (@Boyuan-Chen )
2. *Fee switching* needs a one para overview https://github.com/bobanetwork/boba/blob/docs-in-monrepo/boba_examples/boba-fee/README.md (@Boyuan-Chen )
3. *RPC methods* https://github.com/bobanetwork/boba/blob/docs-in-monrepo/boba_documentation/develo

[2022-04-27 00:56] Boyuan-Chen commented on #133
Hi @mangcunking, your fund has arrived on L1. `https://etherscan.io/tx/0xb9ea27e3ad12f187a458238137dd51d61d4828ad396429d8a4e900348b912514`

[2022-04-27 00:56] #133 closed

[2022-04-27 05:50] mengyuexxx commented on #106
@CAPtheorem Yes, already working. Thanks

[2022-05-03 08:02] breezytm opened #148 "Boba node sync issue"
My node seems to be stuck on block ``534100``. How can I resolve this issue? I thought my database was corrupted and I have already re-sync from 0 and still the issue persists.

[code]

[2022-05-04 01:03] #106 closed

[2022-05-05 06:13] zmyya commented on #148
I have the same problem

[2022-05-05 06:16] breezytm commented on #148
ollowing the read me here ->  https://github.com/bobanetwork/boba/tree/develop/boba_community/boba-node

Some things have changed. you may need to delete the chaindata

[2022-05-06 08:06] InoMurko commented on #148
hey @breezytm did you resolve your issue? can you give me more info what node you're running? are you sure it's from bobanetwork repo and not omgnetwork repo (this one got deprecated!)

[2022-05-06 08:14] zmyya commented on #148
thanks&nbsp;This problem has been solved according to your answer

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年5月5日(星期四) 下午2:16
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [bobanetwork/boba] Boba node sync issue (Issue #148)

ollowing the read me here -&gt;  https://github.com/bobanetwork/boba/tree/develop/boba_community/boba-node

[2022-05-06 08:16] zmyya commented on #148
thanks This problem has been solved according to your answer

[2022-05-06 08:18] #148 closed

[2022-05-06 09:53] InoMurko commented on #15
Moved to CirleCI. Seems resolved.

[2022-05-06 09:53] #15 closed

[2022-05-09 23:55] Oc3anWav3 opened #158 "USDC Doesn't Show a Value in Wallet on Gateway"
I bridged USDC to Boba. The USDC amount appears, but there is no value next to it. It just shows $0.00. I also have ETH and BOBA in my wallet and the amounts and values show for both of those. Everything else looks fine on the page.

[2022-05-10 16:08] CAPtheorem commented on #158
fixed @Oc3anWav3. thank you for the bug report.

[2022-05-10 16:08] #158 closed

[2022-05-26 02:47] Wenglianghai2021 opened #174 "eth_sendRawTransaction throws a error when account balances are equal cost"
Hi there,
I wonder that when we create a transaction and send it with eth_sendRawTransaction RPC method, how the Geth can make sure the error(Insufficient funds for gas * price + value) was happened?

I mean i know the source code in here:

    // Transactor should have enough funds to cover the costs
// cost == V + GP * GL
if b := currentState.GetBalance(from); b.Cmp(tx.Cost()) < 0 {
	return core

[2022-06-03 16:48] Boyuan-Chen opened #180 "calldata compression"
We can save about **28.49%** by compressing calldata that goes into the `CTC` contract using `Zlib`.
We can save about **42.82%** by compressing calldata that goes into the `CTC` contract using `Brotli`.

The compression and gas saving results for the last 100K single transactions:

| Method          | Compression Ratio | Estimated Fee Savings |
| --------------- | ----------------- | ------------

[2022-06-03 17:23] #174 closed

[2022-06-04 12:32] MitchellUnknown opened #181 "Bug - Staking 5% Error Message"
Hi, MUI here...

I ran into some problems during staking on the fixed 5% page. Main problem is, after you fill out the amount you want to stake, you will get a metamask "permission" transaction. After you complete/pay this transaction, an error will occur: "Internal JSON-RPC error". The error does nothing, because the permission transaction is still approved succesfully. The annoying thing is, you

[2022-06-06 10:23] yhinan opened #182 "withdraw all of my funds error"
When I transfer all my eth to another address via [boba gateway](https://gateway.rinkeby.boba.network/)
I get the following error

[code]
operation screenshot：
![image](https://user-images.githubusercontent.com/25000760/172142284-f8d2acf6-7844-4a76-9b0d-40db5624d6ab.png)

address:0x431D42027B5F33cDC26082818c9E5daf96dbEC44

balance:
![image](https://user-images.githubusercontent.com/25000760/172142

[2022-06-06 13:57] #182 closed

[2022-06-06 22:03] Boyuan-Chen commented on #180
The trade off between `Zlib` and `Brotli` is significant.

`Zlib` is 5X faster, but `Brotli` can save 15% gas fee than `Zlib`.

### Production

If we use `Brotli` for the calldata compression, the `data transport layer` for our `verifier` needs more time to decompress data. Based on our current block number and batches on L1, the `data transport layer` needs about **10** seconds to decode 10K batc

[2022-06-06 22:49] mmontour1306 commented on #180
A better compression ratio is more important than the relative speed difference. If necessary, we should be able to compress and decompress batches in parallel threads if it's too much work for a single CPU. However it doesn't look like that will be a problem based on that "10 seconds to decode 600K blocks" calculation.

[2022-06-06 23:35] Boyuan-Chen commented on #180
Only batch submitter compresses the data and DTL for the verifier decompresses it, so I tested the decompression in `node.js`.

[2022-06-07 21:23] Boyuan-Chen commented on #180
I also did another tests. I picked all events that `_batchSize` is larger than 100 and got the result.
[code]

The `Brotli` is still significantly better than `Zlib` from the gas saving perspective.

[2022-06-09 19:15] InoMurko opened #189 "Turn off broken faucet"
This faucet is broken. The new one uses turing. Use redirect to the working faucet.
https://faucets.boba.network/

[2022-06-09 20:45] #189 closed

[2022-06-15 07:13] bobachad opened #191 "Gateway - Shut down fast bridges and point to across.to"
- Announce shut down of fast bridge so users can withdraw (rebalance if necessary)
- Disable deposits
- Remove fast bridge from frontend once most users withdrew
- Provide guide to withdraw liquidity via blockexplorer once frontend is down (for late comers)

[2022-06-15 07:21] InoMurko commented on #191
In terms of priority - are we subsidising fast bridges @souradeep-das ?

[2022-06-15 11:03] InoMurko opened #193 "unreliable integration tests"
Integration tests should not be coupled with each other (such that we need to preserve order of how they're executed) because it breaks test isolation and parallelism.

Integration tests are also very time consuming and we should utilize `--split-by=timings`. https://circleci.com/blog/a-guide-to-test-splitting/

Notifying @souradeep-das @Boyuan-Chen

[2022-06-15 16:27] souradeep-das opened #195 "Stop subsidising relaying fast messages"
With multiple instant third-party cross-chain liquidity providers in the ecosystem, the inherent need of still maintaining and subsidising fast exits lessens.
A starting step to disincentivize using the fast-bridges could be to stop running the message-relayer-fast. The associated steps would be:
- determine if relaying fast messages is authenticated. If it is - update access control to everyone
-

[2022-06-15 16:49] MitchellUnknown commented on #181
Maybe it’s only on mainnet? It can be caused by DDOS? Don’t know if anybody else using mainnet has the same issue. For the record, you can still stake, I just need to fill out the stake amount twice.

[2022-06-15 18:04] #180 closed

[2022-06-17 09:49] InoMurko opened #200 "Integrate Sentry with Gateway"
In order to polish the frontend gateway code we'd like to integrate Sentry (https://sentry.io).

@sk-enya please reach out to me for credentials

[2022-06-17 13:55] InoMurko opened #201 "[gateway] Gateway testing"
https://github.com/omgnetwork/optimism-v2/issues/35

Add a functional test (with CI - gh actions integration) for the gateway:

Perhaps use Robotframework
https://medium.com/@joonasvenlinen/ui-regression-testing-with-robot-framework-part-1-578f2f50b721

[2022-06-17 14:07] sk-enya commented on #201
thanks for pulling up!

[2022-06-21 05:38] sk-enya commented on #200
https://github.com/bobanetwork/boba/pull/203
Changes are available.

[2022-06-21 05:41] rupertbg opened #206 "Gather healthcheck endpoints for all applications"

[2022-06-21 05:41] rupertbg opened #207 "Document the monitoring tools in use for each application"

[2022-06-21 05:41] rupertbg opened #208 "Add alerts for database and cache instances that go to #aws-chatbot in Slack"

[2022-06-22 12:45] InoMurko commented on #206
@trangtran-enya pls help with this

[2022-06-23 08:27] InoMurko opened #210 "URL subpages"
on gateway: https://gateway.boba.network/
it is currently impossible to link to a subpage, like:

- https://gateway.boba.network/bridge
- https://gateway.boba.network/ecosystem
- https://gateway.boba.network/ecosystem/defi
- https://gateway.boba.network/ecosystem/nft
- https://gateway.boba.network/ecosystem/wallet
- https://gateway.boba.network/ecosystem/tool
- https://gateway.boba.network/ecosyst

[2022-06-23 08:30] sk-enya commented on #210
Sure, I will get it added.

[2022-06-24 10:30] InoMurko opened #213 "Brotli lib issue in gateway"
![image](https://user-images.githubusercontent.com/2582555/175517261-a6bb5536-fda3-44d4-a1a7-720469ebe8a9.png)

Gateway was not able to stand up for developers.

[2022-06-24 18:26] #213 closed

[2022-06-24 21:08] sk-enya commented on #200
Merged!

[2022-06-24 21:08] #200 closed

[2022-06-26 12:27] InoMurko opened #216 "Gateway Boba Rinkeby Faucet does not distribute $BOBA"
## Issue Type

[code]

## Current Behavior
When one requests Rinkeby Boba and Eth on the faucet only ETH is distributed.

## Expected Behavior
Should get BOBA and ETH.

## Steps to Reproduce

1. Tweet boba bubble
2. Wait for ETH arrival
3. There’s no Boba token!

## Suggested Fix

[2022-06-26 12:32] wsdt commented on #216
Can do this. But it's not a bug, it just wasn't a requirement at that time since we had the old faucet.

[2022-06-26 12:34] InoMurko commented on #216
Ah, okay. The text on the faucet says it distributes ETH and Boba.

Cool, tnx!

[2022-06-27 13:15] InoMurko opened #221 "Do a comparison between execution clients based on Bedrock specifications"
Do a comparison between Nethermind and Erigon based on Bedrock specifications

Requirements:
- https://github.com/ethereum-optimism/optimism/blob/develop/specs/exec-engine.md
- https://github.com/ethereum-optimism/reference-optimistic-geth

[2022-06-28 11:24] trangtran-enya commented on #206
- Data Transport Layer: Missing healthcheck point. Currently using [DataDog alert](https://app.datadoghq.com/monitors/43601778) if no log can be found within the last 5mins
- L2Geth/Verifier: No explicit health check point. We are sending testing transaction periodically instead.
- BatchSubmitter: Missing healthcheck point. Currently using [DataDog alert](https://app.datadoghq.com/monitors/4360182

[2022-06-28 11:29] trangtran-enya commented on #206
Questions: Do we need to implement specific health check point for each service?

Cons:
- Using DD can only detect whether the service is alive or not
- Relying on DD agent to push log from host to DD which can produce false alarm if
   - DD agent dies
   - Service produces logs but still not function properly ( This is already partly mitigated by adding alert for error)

[2022-06-29 08:57] InoMurko opened #225 "Boba turing package misplaced"
## Issue Type
The package in [packages/boba/turing](https://github.com/bobanetwork/boba/tree/develop/packages/boba/turing)
seems to be misplaced. It's an example that needs more documentation on it's purpose.

[code]

## Current Behavior
Review the purpose and coupling of the package. Move it to examples or community - depends on the outcome of the review.

## Expected Behavior
Only core stuff tha

[2022-06-29 08:58] wsdt commented on #225
On it!

[2022-06-29 08:58] InoMurko opened #226 "Document contract changes needed for Bedrock specs"
Document know-how for Bedrock level changes (comparing it to the current system) and leave them here.

Contract relevant: https://github.com/ethereum-optimism/optimism/tree/develop/packages/contracts-bedrock

The point of this issue is to provide know-how for the rest of the team.
Output should be resources and an understanding what the purpose of L1 and L2 contract is, how they fit in the grand s

[2022-06-30 17:59] InoMurko opened #228 "Register chainIds"
https://github.com/ethereum-lists/chains/tree/master/_data/chains

We need to register chainIds for Moonbase and Moonbeam deployments.
Same for Fantom and Fantom testnet(4051).

[2022-07-02 08:04] wsdt commented on #226
https://github.com/ethereum-optimism/optimism/blob/develop/specs/overview.md

[2022-07-04 12:13] wsdt commented on #226
As we all already know, Bedrock is not just an "update" is a completely new architecture. I will try to best summarize some insights I have gained, link some interesting resources I've found as well as try to point out specific differences if possible.

### Spotted code/structural changes in particular

Despite using a new project structure and therefore new composition of contracts, contracts tha

[2022-07-05 15:54] InoMurko commented on #221
I've been reading the docs and from what I can tell, the important features of the client that need to be supported is ETH2 ready, because of the support of API calls:
[code]

**Looking at Besu, Nethermind and Erigon - they're all ETH2 ready.**

Next, _P2P networking is strictly optional_
[code]
The last protocol implementation is eth/67 (https://eips.ethereum.org/EIPS/eip-4938#backwards-compatibi

[2022-07-05 21:28] Boyuan-Chen opened #235 "Boba Layer0 integration"
## What we want for Boba Layer0 integration
- We need a gate contract on ethereum.
  The gate contract is used to keep funds on ethereum and send messages via Layer0 to other l1s.
- We need a gate contract on Moonbeam
  The gate contract is very similar to the gate contract on ethereum. It should have these two behaviors. When users move funds from ethereum to this gate contract, the new BOBA toke

[2022-07-05 23:04] Boyuan-Chen commented on #228
https://github.com/ethereum-lists/chains/pull/1324

[2022-07-05 23:05] Boyuan-Chen commented on #228
Since our RPC endpoint for Moonbeam is not available, I can't add it in the above PR.

[2022-07-08 09:20] istankovic opened #239 "No logs for a new block"
## Issue Type

[code]

## Current Behavior

Sometimes the RPC endpoint at https://mainnet.boba.network returns no logs for block that actually has logs.
For example, for block [716730](https://blockexplorer.boba.network/blocks/716730) we have these logs:
https://blockexplorer.boba.network/tx/0x7275eaae0d3e607b58b4407c4941a6708c14c277f229c3443d66f0705ac5cb5a/logs

however, when making a call to `ge

[2022-07-08 18:02] Boyuan-Chen commented on #239
Hi @istankovic , we will improve our replica nodes' performance in our next maintenance window. We have the proxyd in front of our replica and sequencer nodes. The `eth_getLogs` is routed to the replica nodes and `eth_blockNumber` is routed to the sequencer node. The replica node takes about 1 second to sync up the up coming the block data now.

[2022-07-11 08:20] wsdt commented on #221
Some things:

Nethermind:
* .NET Core (at least enables us to run the client in Docker containers as well as on Non-Windows OS (with .NET Framework, we would have needed specific versions, Docker EE, etc.), went through that pain a few years ago.

* C# in general much easier to learn, but since that the team is already used to Go, that wouldn't make much sense imho as it is a new ecosystem anyway.

[2022-07-11 10:10] wsdt commented on #226
### Withdrawals:
- Since that we discontinued funding the fast exit back to L1, this could now become cheaper:

"[Address aliasing](https://community.optimism.io/docs/developers/build/differences/#address-aliasing) is now applied to withdrawal transactions as well as deposit ones.

There is a separate withdrawal root which allows withdrawal merkle proofs to be 60% cheaper (in L1 gas). This happens

[2022-07-11 10:24] wsdt commented on #221
@InoMurko Could it make sense, to actually use the exact same Geth version Bedrock will be using to have a smooth as possible Bedrock migration and to migrate to another client after we successfully migrated to Bedrock?

Could be a (slightly) higher workload, but it could make things smoother, more stable, more secure and give us a faster time to market to not loose market share to Optimism or oth

[2022-07-11 13:26] InoMurko commented on #221
As said, what would be useful is to see how we can compile erigon (or others) to mips: https://github.com/ethereum/go-ethereum/pull/23800/files

[2022-07-12 09:15] wsdt commented on #221
**Erigon:**
Building go project with `GOARCH=mips` should work (for my understanding we just need to add it in their release `Makefile`.
https://zchee.github.io/golang-wiki/GoMips/

Erigon itself has no documentation on that, but I requested Discord community access and opened a discussion on their GH.

They currently don't provide any binaries in general, so we need to build it ourselves anyway.

[2022-07-14 14:12] InoMurko commented on #221
Where is that being done?

[2022-07-14 15:27] sk-enya opened #243 "[GATEWAY]: Change copyright to boba network."
## Issue Type

[code]

## Current Behavior
Curently we have copyright with company name `OmiseGO Pte Ltd`.

## Expected Behavior
Copy right should has to be on name of boba network.

## Suggested Fix
Change copyright from `OmiseGo` => 'Boba network' where we can find.

[2022-07-14 17:09] InoMurko commented on #221
Aha, because you mentioned automatically, I thought it's done somewhere in their CICD.

[2022-07-14 17:10] wsdt commented on #221
No they don't have any official binaries:
https://github.com/ledgerwatch/erigon/issues/4153

[2022-07-14 17:12] InoMurko commented on #221
@wsdt can you fork Erigon, and make a circleci integration that compiles it to mips32?

[2022-07-14 17:24] wsdt commented on #221
sure!

[2022-07-15 11:13] wsdt commented on #221
@mmontour1306 @InoMurko Just got the confirmation, that Erigon might NEVER support 32-bit architectures at all.

The issues Michael and me encountered, seem to be bugs/issues with libraries they are using. Would mips64 also be an option @InoMurko ?

[2022-07-15 11:25] wsdt commented on #221
@InoMurko `mips64` returns the exact same error messages for me, just asked in the Discord again.

Another question, why don't we simply use their Docker image?

[2022-07-15 12:17] #77 closed

[2022-07-15 12:18] #46 closed

[2022-07-15 13:06] InoMurko commented on #221
FYI:
https://github.com/ethereum-optimism/minigeth/blob/c2b6152b4afb05e07514ad892304c117b2f72134/fetching-preimages.md

[code]

So the `minigeth` is a subset of `geth`:

As per cannon readme, minigeth is:
[code]

So the question is - any idea which pieces prevent mips32?

[2022-07-15 13:35] InoMurko opened #249 "[GATEWAY] Zendesk integration"
## Issue Type

[code]

## Current Behavior
At the moment, we don't have a way to get feedback from the users using the Gateway, we'd like to integrate Zendesk and see what the feedback is.

## Expected Behavior
Gateway Zendesk integration

## Steps to Reproduce
/

## Suggested Fix
We already have a development account with Zendesk cc @sk-enya reach out when you need integration details

[2022-07-15 16:22] mmontour1306 commented on #221
The Go language itself seems to have good support for a MIPS target, but it gets more difficult when you are trying to wrap a C library as is done with the cryptographic secp256k1 library. I have not been able to make that work while cross-compiling from my main desktop. I'm presently trying a native build of erigon inside my MIPS VM (last attempt ran out of disk space). It's slow and very memory-

[2022-07-15 16:35] wsdt commented on #221
Really seems to be an issue also for both mips{32 and 64}
![image](https://user-images.githubusercontent.com/28724551/179267274-d339e66b-07fd-47f9-ae77-fb15d2aed8ed.png)

![image](https://user-images.githubusercontent.com/28724551/179267988-0978661c-2431-4c13-a393-aa8b55f9a1f6.png)

![image](https://user-images.githubusercontent.com/28724551/179267792-4cffe82b-1948-4bc9-b4e6-478d5151edaa.png)

[2022-07-15 17:45] Boyuan-Chen opened #250 "[Multi-chain] Merge `alt-l1` branch to develop branch"
## Discussion

Things have to be done for merging `alt-l1` branch to develop branch

### l2geth
- [need to check] The new token price logic might not be compatible with the geth client for Ethereum L2

### contracts
- [change] The function names for multi chain contracts are different. How to solve it?
- [change] The unit tests for those contracts
- [change] The native token on Ethereum L2 is ETH,

[2022-07-18 08:48] InoMurko commented on #221
Is Erigon2 a rewrite or the same repo? What are the changes?

[2022-07-18 10:48] wsdt commented on #221
https://erigon.substack.com/p/erigon-2-three-upgrades?s=r

Found this :-)

[2022-07-18 12:44] InoMurko opened #255 "Figure out how Boba v3 can live side-by-side to Boba V2"
Project structure that best suites us?
Requirements:
- Current Boba version needs to live side by side with future Boba version
  - contracts from Optimism, and slowly introducing services (the first one being the execution engine (aka l2geth but not really geth)
- Future Boba version needs to be tested in CirleCI (our preferred tool going forwards)
- the intial client implementation would need to

[2022-07-18 12:58] wsdt commented on #255
### General project structure

Assuming Boba v3 will replace v2 at some point, separating it via two major branches might be best imho, sounds too simple but actually that feels like exactly the use-case of having branches.

Assuming both Boba v3 and Boba v2 will be live at the same time then, then we could also think about just having two separate repositories, since the architecture is very diff

[2022-07-18 14:29] InoMurko commented on #255
Here are some of the requirements I can think of:

In fact, we will never have two systems LIVE in production at the same time. Bedrock is an upgrade rather than a new version of the system. What we do need is to be able to have developers run two flavours of the system locally.

Some of the services will have overlap and will live in both systems, like gas-price-oracle,gateway,subgraph.
Bedrock i

[2022-07-18 17:52] sk-enya commented on #249
done

[2022-07-18 17:52] #249 closed

[2022-07-19 09:22] #243 closed

[2022-07-19 20:54] mmontour1306 commented on #255
Erigon expects to be in its own git repo and the Makefile includes code to update its own submodules at the start of a build. We would need to make some changes there to have it work as a submodule or subtree inside our repo.

[2022-07-19 21:38] mmontour1306 commented on #225
After this change I'm not able to run the examples against my local system. If I check out 'develop' as of commit 48e851f8... then the old "packages/boba/turing" tests run successfully ("yarn test:local"). At the head of 'develop', the version in boba_examples/turing-hello-world fails with:

[code]

The turing-lending and turing-stable-swap examples are the same, while "turing-nft-random" fails wi

[2022-07-19 23:21] Boyuan-Chen opened #261 "Failure tests for Avalanche L2"
1. [Fixed]
[code]

It's highly likely that it's a small issue.

2.
[code]

The bytecode for the AVAX token is wrong!

3.
[code]

The L1 gas limit for Avalanche is different from other chains.

4.[Fixed]
[code]
Replica issue - unknown

5. [Fixed]
[code]

Unknown

6. [Fixed]
[code]
Unknown

7. [Fixed]
[code]
Unknown

[2022-07-19 23:24] Boyuan-Chen commented on #261
@trangtran-enya Assign problem 2

[2022-07-20 10:28] InoMurko commented on #206
ping

[2022-07-20 10:37] wsdt commented on #225
I can't even build the current local stack on `develop`. But doesn't seem to be related to the issue above:

**For Data Transport Layer**:
[code]

**Deployer**:
[code]

Will have a look at your issue first, and then look at why the local stack itself doesn't seem to be building for me.

[2022-07-20 10:51] rupertbg commented on #206
thanks @trangtran-enya!

I'm specifically looking to gather endpoints that can be used by things like ALB to handle traffic flows. So basic HTTP endpoints that return 200/500 response codes or similar, so that the ALB can measure the availability of a service for the purposes of routing.

[2022-07-20 11:15] wsdt commented on #225
@mmontour1306 Fixed the tests, thx!

Regarding the TuringHelper duplicates. Examples always had their own local TuringHelper duplicate. Probably to have it isolated and to make it easy to run for the community.

But if we change this, which TuringHelper (incl. Interface) would you recommend that we are taking? The one in `packages/boba/turing/contracts/`?

[2022-07-20 13:47] wsdt commented on #255
Why shouldn't it work?
`git submodule update --init --recursive`

`If --recursive is specified, this command will recurse into nested submodules, and show their status as well.`

https://git-scm.com/docs/git-submodule

[2022-07-20 14:24] InoMurko opened #264 "Client implementation breakdown tasks"
Breaking down execution engine implementation tasks here (not related to specific client which we will do further down the road).
This is just general requirements per Bedrock specification.

## Assumptions / Questions
After reading a lot of documentation, I assume we basically fork one of the Eth clients (L1) and modify it to be a Bedrock compliant L2 client, right? Just thinking logically, would

[2022-07-20 14:28] InoMurko commented on #264
@wsdt and
[@Michael Montour]
 are basically leading this now since you both started, albeit from different angles!

the way I see it - the ultimate goal is to have erigon l2 , after it’s successfully modified, to run with optimism docker-compose: https://github.com/ethereum-optimism/optimism/blob/develop/ops-bedrock/docker-compose.yml#L24
but instead of https://github.com/ethereum-optimism/optimis

[2022-07-20 16:21] trangtran-enya opened #265 "Migrate DataDog"
## Issue Type

[code]

[2022-07-21 11:28] #193 closed

[2022-07-21 16:41] Boyuan-Chen opened #268 "Multi-chain L2 native token"
- Avalanche L2
- Moonbeam L2
- Fantom L2

[2022-07-21 19:32] #225 closed

[2022-07-22 07:10] DaRealX opened #269 "Ecosystem page some links need to be updated."
## Issue Type

[code]

## Current Behavior
On the Ecosystem page I noticed:
1. Unidex link goes to: unidexbeta.app/trading. Nothing there
2.  Satis link shows it will go to: boba-testnet.sat.is but redirects to their Twitter page

## Expected Behavior
1. Link should be: unidex.exchange
2. Maybe link to: Sat.is? Dunno the link to their app

## Steps to Reproduce
Go onto the Boba Gateway, select eco

[2022-07-22 09:58] InoMurko commented on #206
So for geth nodes - L2Geth, replica etc... https://medium.com/@mshmulevich/running-ethereum-nodes-in-high-availability-cluster-on-aws-aefd08d4d81

[2022-07-22 13:53] souradeep-das opened #278 "[gateway] warn when merging veNFTs"
## Issue Type

[code]

## Current Behavior
if someone merges their veNFTs, token A + token B -> token B
tokenA would be burnt and they would not be able to use tokenA to vote on proposals that are on their "voting period" right now. (token B would not have the cumulative ve power because, we are checking the power at a prior timestamp)

## Expected Behavior
Someone merging their ve-locks/ veNFTs o

[2022-07-25 09:01] wsdt commented on #255
With #281 the sync should work.

[2022-07-25 17:12] #216 closed

[2022-07-25 23:58] Boyuan-Chen commented on #239
Hi @istankovic , we have reduced the latency. We recommend you to use `https://replica.boba.network` to query and index events. Another thing you can do is to submit transactions through `https://replica.boba.network`. Once you receive the response, you should be able to query events on `https://replica.boba.network`.

[2022-07-25 23:59] Boyuan-Chen commented on #206
This is what we need!

[2022-07-26 00:19] Boyuan-Chen commented on #239
@istankovic BTW, the replica endpoint for Rinkeby is `https://replica.rinkeby.boba.network`. We wrote a script you for testing purpose:
[code]

[2022-07-26 07:31] mmontour1306 commented on #264
This is a somewhat complicated project since we will be tracking two upstreams which are both in active development themselves. We will need to be careful about versioning, and should be prepared to have chunks of our work clobbered by restructuring or git rebasing in the upstream.

I would start by getting to a state where we can build and run Docker containers for upstream Optimism and/or upstre

[2022-07-27 10:41] wsdt commented on #264
[X] Erigon Docker containers running
[X] Optimism Bedrock containers running

My next steps would be to create a Bedrock version that runs with Erigon. What do you think @mmontour1306 ?

[2022-07-28 10:26] DaRealX opened #284 "Sending tokens using Accros protocol onto Boba Network shows the routing as: OMG Network: Boba Gateway on Etherscan"
## Issue Type

[code]

## Current Behavior
Sending tokens using Accros protocol onto Boba Network shows the routing as: OMG Network: Boba Gateway on Etherscan.

## Expected Behavior
It should not show OMG Network and perhaps should say Boba Network instead of Boba Gateway.

## Steps to Reproduce

1. Go here: https://etherscan.io/tx/0x23ee18ffeece4976b5c57435aaf8ad54f83512a7525fc0f4d66f690f0131a0e5

[2022-08-02 23:57] mmontour1306 commented on #264
Next steps - there are two items which can be done in parallel:

1. Set up a local Erigon development network which operates in the post-Merge configuration, with Lighthouse or similar as the consensus layer and Erigon as the execution layer. This will allow us to develop and test extensions to the Engine API in a simpler environment than the full Optimism stack.

2. Modify the Dockerfiles and ops

[2022-08-03 03:27] mmontour1306 commented on #264
Some specific items for Erigon:
 - Supporting the Deposit transaction type, including the cross-chain gas stipend
 - Deploying the L2 precompile contracts
 - Minting L2 ETH for Deposits
 - Collecting gas fees into SequencerFeeVault

[2022-08-03 21:09] Boyuan-Chen opened #291 "Add documentation for Boba Billing contracts"
## Purpose
Any contracts that uses our bridge system to send messages to L1 should ask users to cover the cost
## How to
`BOBA Billing Contract`: https://github.com/bobanetwork/boba/blob/develop/packages/boba/contracts/contracts/L2BillingContract.sol
`Contract Address`:
- Ethereum Mainnet: https://github.com/bobanetwork/boba/blob/85b908db21fa183f33d4f99c00d0b653b5919356/packages/boba/register/addr

[2022-08-08 09:15] istankovic commented on #239
@Boyuan-Chen Thanks for the help! `https://replica.rinkeby.boba.network` seems to be working well.

[2022-08-08 09:15] #239 closed

[2022-08-08 22:35] excalq commented on #261
I'm getting these same `UNPREDICTABLE_GAS_LIMIT` errors while running `BUILD=1 DAEMON=0 ./up_local.sh` on `develop`. (The `ops_boba_deployer_1` container is dying on L2ERC20 deployment tasks).

[2022-08-08 23:26] Boyuan-Chen commented on #261
Hi @excalq , could you please start the local stack using
[code]
?

[2022-08-10 19:55] Boyuan-Chen opened #296 "Supports multi-chain bridges in gateway"
* On the Ethereum Wallet page, we need a new button next to `Fast Bridge to L2` for Boba Token.
<img width="1133" alt="image" src="https://user-images.githubusercontent.com/46272347/184008042-c59bc09d-9efa-4ed6-93ba-97a6a5f9216b.png">
* The popup model should be
<img width="868" alt="image" src="https://user-images.githubusercontent.com/46272347/184009676-b52d01a8-8002-48a2-9a6d-1fd271a144ae.png">

[2022-08-10 20:01] Boyuan-Chen commented on #296
![image](https://user-images.githubusercontent.com/46272347/184009031-c148e593-686f-472c-ae8f-555bfbd0e7f3.png)

[2022-08-10 20:02] Boyuan-Chen commented on #296
There should be another tab called Bridge between Alt L1s
<img width="1348" alt="image" src="https://user-images.githubusercontent.com/46272347/184009192-2fde66d3-2c01-4293-b812-1aa83770ae46.png">

[2022-08-10 20:02] Boyuan-Chen commented on #296
@trangtran-enya will provide an API endpoint for @sk-enya to fetch data.

[2022-08-10 20:03] Boyuan-Chen commented on #296
`Brigde to L1` can be renamed to `Bridge to Ethereum`?

[2022-08-11 06:06] sk-enya commented on #296
@Boyuan-Chen thank you for sharing the details.
Instead of renaming the tab what do you think of showing this information by adding small `i` icon or tooltip on hover?

[2022-08-11 11:58] InoMurko commented on #264
Oh this is sweet, nice progress @mmontour1306 and @wsdt !

I have a question @mmontour1306 :

Why are you interested in this POC?

[2022-08-11 20:15] mmontour1306 commented on #264
The l1-erigon branch was to figure out how to build Erigon and how to integrate its Docker container into our stack (including steps like generating a custom genesis block and configuring it to run as a private dev net). It was also a check on how stable and functional the code was at the time (e.g. finding the bug regarding a zero estimateGas result). That branch is no longer needed.

[2022-08-16 19:40] Boyuan-Chen opened #303 "[Suggestions] Multi-chain Gateway"
- Standardize the wallet name (Boba Wallet -> Bobabase Wallet)
<img width="364" alt="image" src="https://user-images.githubusercontent.com/46272347/184968030-d6614458-b6ee-4aff-8bf6-38be524cbfb5.png">
- If you press one of the below buttons and cancel the Switch Network MetaMask pop-up, the below buttons are seemingly disabled and you need to use the upper logos to switch networks.
<img width="360

[2022-08-17 04:55] sk-enya commented on #303
Changes pushed!

[2022-08-17 13:38] sk-enya commented on #296
- Only enable the bridge to alt l1's for boba token as we are not supporting others.
- Option to select the L1 options out of [BNB, Avalanche, Fantom, Moonbeam]

[2022-08-17 18:07] #303 closed

[2022-08-18 17:59] Boyuan-Chen opened #306 "BOBA Layer Zero Bridges Audit"
# 1 Pragma version lock
Severity: Low
Status: Unresolved

It’s recommended to have the same compiler version that the contracts were tested with the most. This way it reduces the risk of introducing unknown bugs. There are also different versions used throughout the project, for example ^0.8.0 in LzApp.sol and ^0.8.9 in EthBridge.sol.
# 2 Unused function parameter
Severity: Informational
Status: U

[2022-08-18 20:58] mmontour1306 commented on #264
A couple of items based on the preliminary integration work:
 - Op-node is sending a GetPayload right after the ForkChoiceUpdated message, before Erigon has finished processing the block. For now I've worked around this with a fixed delay in op-node but we need some explicit sequencing in Erigon.
 - Erigon is expecting to extract a ChainID from the transaction, but this is not part of an Optimism

[2022-08-19 20:56] mmontour1306 commented on #264
Also, we've discussed it before but I don't see it in this thread - we will need to implement eth_getProof support in Erigon:

[code]

[2022-08-22 11:09] wsdt commented on #264
Small hint from the official Erigon team regarding this method:

[code]

[2022-08-22 11:17] InoMurko commented on #265
is this ready to be closed? @trangtran-enya

[2022-08-22 11:41] InoMurko commented on #264
@wsdt can you figure out why and for what it's being used in Bedrock. Once you have that, let's review.
If we need to implement it - lets get it done asap.

[2022-08-22 12:30] wsdt commented on #264
Sure, that's what I've found:

Besides test cases, there seem to be basically two major uses of the `getProof` function that utilizes the call `eth_getProof`.
Both uses seem to be on the `op-node`.

1. The first one seems to be highly relevant for withdrawals, if the proof cannot be generated then the function returns an error.
`FinalizeWithdrawalParameters queries L2 to generate all withdrawal pa

[2022-08-22 15:25] wsdt commented on #264
https://erigon.substack.com/p/erigon-2-three-upgrades

Erigon 2 consists of 3 major upgrades.

Erigon is at 2.1 (upgrade 1) at the moment. 2.2 is at the integration phase, and 2.3 is at the prototyping stage.

--> Keeping up-to-date with their Repo becomes even more vital looking at this.

[2022-08-23 14:33] trangtran-enya commented on #265
Yes @InoMurko . This can be closed. I will create other tickets for Moonbeam, Avalance and BNB

[2022-08-23 14:33] #265 closed

[2022-08-25 09:34] istankovic opened #316 "Block data not found"
## Issue Type

[code]

## Current Behavior
While using https://replica.boba.network for Beamer bridge we ran again into errors like
[code]

So the RPC node advertises that a new block came, but when asked for that block's data, an error is returned.

## Expected Behavior

If the block number is updated, the block data must be made available.

[2022-08-25 10:13] sk-enya opened #317 "[Gateway] : bobabase, bobabeam icons not working for adding network to MM."
## Issue Type

[code]

## Current Behavior

https://gateway.bobabase.boba.network/
**bobabase** & **bobabeam** icon on click is not adding network to MM if it's not there.

## Expected Behavior

If network is not added into the MM then on click of bobaBase / bobabeam icon or text button should take you through the flow to add network into the MetaMask

## Steps to Reproduce

1. Navigate to https:/

[2022-08-25 10:17] sk-enya opened #318 "[GATEWAY]: Fee Switcher Is visible incase Bobabase L1"
## Issue Type

[code]

## Current Behavior

[bobabase gateway](https://gateway.bobabase.boba.network/) showing the fee Switcher on L1.

## Expected Behavior

FeeSwitcher should not be visible in case of L1 only visible for L2.
[bobabase gateway](https://gateway.bobabase.boba.network/)

[2022-08-25 10:17] sk-enya commented on #318
@Boyuan-Chen can you please help me with correct branch from where the changes has been deployed to

`https://gateway.bobabase.boba.network/`

[2022-08-25 10:18] sk-enya commented on #318
As I am unable to reproduce this issues locally with branch, `alt-l1-moonbeam`

[2022-08-25 13:35] InoMurko opened #320 "[Gateway] refactor networkService.js"
## Issue Type

[code]

## Current Behavior
Spaghetti!

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-08-25 13:37] sk-enya commented on #320
issues is already there. https://github.com/bobanetwork/boba/issues/242 so closing this.

[2022-08-25 13:37] #320 closed

[2022-08-25 13:52] #317 closed

[2022-08-25 13:58] Boyuan-Chen commented on #318
I fixed this issue in `alt-l1-moonbeam`, but I haven't deployed the gateway.

[2022-08-25 13:58] #318 closed

[2022-08-26 09:21] InoMurko commented on #221
Let's see where Erigon brings us.

[2022-08-26 09:21] #221 closed

[2022-08-26 18:18] Boyuan-Chen opened #324 "Bobabase Regenesis"
# Bobabase regenesis

## Problem
Due to the issue of updating the state-dump file to fix the decimal issue, the batch submitter can't submit txs to L1 and the txs from L2 to L1 is blocked.
[code]

## Solve
We will schedule a regenesis event for Bobabase. The old data will be kept, but the block chain will start from the zero block.
It requires three hours of maintenance.

[2022-08-26 18:21] Boyuan-Chen opened #325 "Bobabase Regenesis"
# Bobabase Regensis

## Problem
Due to update the genesis file to fix the decimal issue, the batch submitter can't submit txs to L1 and it blocks the txs from L2 to L1
[code]
## Solution
We will schedule a regenesis event for Bobabase. All data will be kept and the block chain will start from block 0. This requires three hours of maintenance.

[2022-08-26 19:49] fearyourguide2 commented on #325
I'll be asking the Firefly team when is convenient for them to do the regenesis and let you know (or just follow along in Slack)

[2022-08-29 13:15] #324 closed

[2022-08-29 13:19] Boyuan-Chen opened #326 "Move subgraphs to the decentralized node"
# Subgraph
The host services will be closed on Q2 2024. We plan to move subgraphs to the decentralized node by the end of Q4 2022.
Source: https://thegraph.com/blog/sunsetting-hosted-service

[2022-08-29 17:04] #210 closed

[2022-09-02 12:02] InoMurko commented on #306
This is done AFAIK.

[2022-09-02 12:02] #306 closed

[2022-09-02 20:45] sk-enya opened #333 "[DOCS]: Update the docs for the Witnet Orcle"
## Issue Type

[code]

Update the docs for the witnet oracle as it has updated.
refer the PR.

https://github.com/bobanetwork/boba/pull/323

[2022-09-05 15:07] sk-enya opened #334 "[Gateway]: Cleanup Sentry Errors."
## Issue Type

[code]

## Current Behavior

Lot's of error are getting added to sentry.

## Expected Behavior

We should address as much errors as we can.

[2022-09-05 15:09] sk-enya opened #335 "[Gateway] : Design is not aligned with Figma."
## Issue Type

[code]

## Current Behavior

Currently UI does not match with Figma design in general.

## Expected Behavior

[2022-09-05 15:11] sk-enya opened #336 "[Gateway] : Dark and Light theme should be consistence across all the pages."
## Issue Type

[code]

## Current Behavior

Dark Light them is not consistent across all page.

## Expected Behavior

Dark and Light theme should be consistence across all the pages.

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-09-06 08:40] sk-enya opened #338 "[Gateway] : Load the routes and menu from constant files on gateway"
## Issue Type

[code]

## Current Behavior

Currently all routes has been hardcoded.

## Expected Behavior

Move all routes constants and load from single place.
This way we could update/change links without the risk of having dead links.

ref https://github.com/bobanetwork/boba/pull/292#discussion_r963392474

[2022-09-06 08:43] sk-enya opened #339 "[Gateway]: Enhance Distribute Button on VOTE/DAO"
## Issue Type

[code]

## Current Behavior

Currently as per the PR https://github.com/bobanetwork/boba/pull/292 distribute button is by default enable for all the pools.

## Expected Behavior

To help the user enhance the distribute button to enable, disable

[2022-09-06 08:44] sk-enya commented on #339
@souradeep-das added enhancement issue as per our discussion!

[2022-09-07 17:23] InoMurko opened #343 "[Gateway] Sentry for bobanetwork ORG"
## Issue Type

[code]

## Current Behavior
Use bobanetwork enya's sentry account

## Expected Behavior
Move away from OMG sentry account. Double check slack integration

- [x] Create new project on Enya's Lab Sentry Account
- [x] Update the keys of sentry for rinkeby.
- [ ] Enable the sentry for other gateway L2 gateway
- [x] Sentry Error should have gateway specific identifier's like tags or Env.

[2022-09-07 19:01] sk-enya commented on #343
@InoMurko slack integration with new sentry is done, need to update the gateway with new sentry project configuration.

[2022-09-07 20:33] InoMurko commented on #343
Awesome. Please also assign @Boyuan-Chen to complete this and close later. Thanks

[2022-09-08 05:20] sk-enya commented on #343
@Boyuan-Chen can you please update the gateway with new sentry configuration. please let me know if needed anything from me.

[2022-09-13 23:27] Boyuan-Chen opened #350 "A single step to bridge BOBA tokens between different L2s"
Ideally, we can connect all smart contracts so that users only need to click one button on Boba Eth L2 and their BOBA will appear on Bobabeam.

This process simplifies the user experience and makes it easier for users to move assets between different chains.

<img width="999" alt="image" src="https://user-images.githubusercontent.com/46272347/190026461-f0402c43-44ac-47d1-aa66-8293b4d9946f.png">

P

[2022-09-14 06:08] souradeep-das commented on #350
amazing! what do you think about these alternatives?
- direct LPs between Boba Eth L2 <> Boba Alt L2
  i) enforced by Lz Messaging with multiple LP providers
     LP providers take the risk of providing funds for the swap, if the LP is automated, this is higher risk though - and has the same assumptions as the Fast exit pool - assumes L2 validity because of a single sequencer, probably not an opti

[2022-09-14 07:52] InoMurko opened #352 "[Gateway] Update Sentry SDK"
Update your SDKs
We recommend updating the following SDKs to make sure you’re getting all the data you need.

[gateway-rinkeby](https://sentry.io/organizations/enya-inc/projects/gateway-rinkeby/?project=6727752)
This project is on sentry.javascript.react@v7.7.0
[Update to sentry.javascript.react@v7.12.1](https://docs.sentry.io/platforms/javascript/guides/react/)

[2022-09-14 07:53] InoMurko commented on #325
Done

[2022-09-14 07:53] #325 closed

[2022-09-14 07:54] #268 closed

[2022-09-14 07:54] #261 closed

[2022-09-14 07:54] #235 closed

[2022-09-14 07:54] #228 closed

[2022-09-14 07:54] #255 closed

[2022-09-14 14:07] sk-enya opened #353 "[Gateway] : Loading... on classic bridge."
## Issue Type

[code]

## Current Behavior

![image](https://user-images.githubusercontent.com/86316370/190176664-57fab74c-2e27-4f99-8172-6fd1219e4ec3.png)

Loading instead of input box on classic bridge.

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-09-14 14:11] sentry-io[bot] opened #354 "underlying network changed"
Sentry Issue: [GATEWAY-RINKEBY-8](https://sentry.io/organizations/enya-inc/issues/3590095812/?referrer=github_integration)

[code]

[2022-09-14 14:22] sentry-io[bot] opened #355 "TypeError: Cannot read properties of null (reading 'post')"
Sentry Issue: [GATEWAY-RINKEBY-7](https://sentry.io/organizations/enya-inc/issues/3587303481/?referrer=github_integration)

[code]

[2022-09-14 14:24] sk-enya commented on #354
ref: https://github.com/Uniswap/web3-react/issues/127

[2022-09-16 14:08] sk-enya opened #357 "API WATCHER IS FAILING WITH 404"
## Issue Type

[code]

## Current Behavior
`https://api-watcher.mainnet.boba.network/`. this seems to be down below calls are failing continously on gateway.
get.l1.airdrop , get.l2.airdrop

## Expected Behavior
Above call should work.

## Steps to Reproduce

1. Open gateway and check logs in console
2.
3.

## Suggested Fix

[2022-09-16 14:34] sk-enya commented on #357
![Screenshot 2022-09-16 at 8 04 00 PM](https://user-images.githubusercontent.com/86316370/190664076-d16fd2d2-b23d-4ec1-b51c-45c858ea281d.png)

[2022-09-16 15:42] Boyuan-Chen commented on #357
I can't reproduce this error on https://gateway.boba.network

[2022-09-16 18:56] Boyuan-Chen opened #360 "Add the waiting period for fetching data from L1 contract in the fraud detector"
## Issue Type

[code]

## Current Behavior

The PRC request from fraud detector is blocked by the Alt L1s due to the rate limiting

## Expected Behavior

We need a waiting period for the fraud detector

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

Add a waiting period

[2022-09-19 08:46] sk-enya opened #362 "[Gateway] : Cleanup Redundant network move from home to respective page."
## Issue Type

[code]

## Current Behavior
Multiple api calls are getting invoke from home component as even if it's response is not getting use.
Cleanup the call and move it to respective component or page where ever it's getting used.

Cancel the request once component is unmounted so we can have better performance of gateway page.

## Expected Behavior

Api , Network call should be specific to

[2022-09-19 08:48] sk-enya commented on #362
Refactor below block of code.
[code]

[2022-09-19 08:49] sk-enya opened #363 "[Gateway] : Can I use warning in terminal"
## Issue Type

[code]

## Current Behavior

[code]

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-09-19 10:25] #352 closed

[2022-09-19 19:08] sk-enya opened #365 "[Gateway] : increase the time interval for getPrice"
## Issue Type

[code]

## Current Behavior

To avoid frequent call of get_gasPrice.

https://sentry.io/organizations/enya-inc/issues/3594280928/?project=6727751&query=assigned_or_suggested%3Ame+is%3Aunresolved&sort=freq&statsPeriod=90d

## Expected Behavior

Increase interval to call function.
## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-09-19 21:27] sk-enya commented on #357
Hmm it's issues of key. closing

[2022-09-19 21:27] #357 closed

[2022-09-20 13:15] sk-enya opened #366 "[Gateway] : Redirect to bridge page if route not found"
## Issue Type

[code]

## Current Behavior

Gateway rendering as blank screen when the route is not matching with page.

## Expected Behavior

[Gateway] : Redirect to bridge page if route not found

## Steps to Reproduce

1. open gateway and change the route path in url.
2. it will render the blank screen.
3.
4.

## Suggested Fix

[2022-09-20 13:16] sentry-io[bot] opened #367 "[Gateway] Error: invalid BigNumber value"
Sentry Issue: [GATEWAY-1A](https://sentry.io/organizations/enya-inc/issues/3598035813/?referrer=github_integration)

[code]

[2022-09-20 13:26] sk-enya commented on #367
Found this error on Farm and Earn page.

`this.provider.estimateGas` is failing with above error across gateway.

[2022-09-20 13:30] sk-enya commented on #367
@souradeep-das & @Boyuan-Chen can you please help me where exactly we can test and how to debug as it seems

`const stakeGas_BN = await this.provider.estimateGas(tx2)` this function is failing.

[2022-09-20 16:00] souradeep-das commented on #367
looks like the error is: `Amount to stake cannot be zero` and I think this is the FixedSavings contract?
on the FixedSavings contract - `stake(amount)` should be called with an `amount` that is not zero

[2022-09-20 17:07] Boyuan-Chen commented on #367
Fixed. I approved the BOBA token of our gas estimation account.

[2022-09-20 17:07] #367 closed

[2022-09-21 08:31] sk-enya commented on #367
@Boyuan-Chen can you please do the same thing on rinkeby as it's still seems to be failing on rinkeby!

[2022-09-21 08:44] sk-enya opened #370 "[Gateway]: VeBoba&Vote new pools information should has to be populated in const file."
## Issue Type

[code]

## Current Behavior

Update the pools details hardcoded for `rinkeby` here once deployment done on `mainnet`.
[`packages/boba/gateway/src/util/poolDetails.js`](https://github.com/bobanetwork/boba/pull/292/files#diff-b0a34ab6ad1afcd1b872a05bcef4b2565749ee25b9c0cbdbcd08000f08dc1182R1)

## Expected Behavior

Update the pools details hardcoded for `rinkeby` here once deployment

[2022-09-21 08:44] sk-enya commented on #370
constant changes are available in PR
https://github.com/bobanetwork/boba/pull/292

[2022-09-22 02:31] trangtran-enya opened #371 "[Monitor] Add monitor for Boba Beam"
## Issue Type

[code]

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-09-22 02:31] trangtran-enya opened #372 "[Monitor] Add monitor for Boba Avalance"
## Issue Type

[code]

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-09-22 13:40] InoMurko opened #373 "[Monitor] exploding"
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/2582555/191762632-f37f49fe-0625-461a-85f2-7ef1778fdcd7.png">

[2022-09-22 13:45] InoMurko opened #374 "[nft bridge] EVO nft bridge registration on Boba Avax"
const EVO_NFT_L1 = "0x454a0E479ac78e508a95880216C06F50bf3C321C";
const EVO_NFT_L2 = "0x3e9694a37846C864C67253af6F5d1F534ff3BF46";

[2022-09-22 14:13] InoMurko commented on #206
@rupertbg @trangtran-enya status of this?

[2022-09-22 14:39] InoMurko opened #375 "[datadog] Datadog agent to Boba deployments (avax*, moon*, fantom,*)"
We have limited visibility in these environments.
Logs, monitoring, alarms.

[2022-09-22 16:26] Boyuan-Chen commented on #373
This issue will be fixed in our v0.2.0 release.

[2022-09-22 16:40] Boyuan-Chen commented on #373
The problem is the eth_getLogs of Alt L1s. I will fix it today.

[2022-09-23 02:05] Boyuan-Chen commented on #374
Registered

[2022-09-23 02:05] #374 closed

[2022-09-23 12:09] sk-enya opened #377 "[Gateway] : Dark & Light Mode Content should be visible."
## Issue Type

[code]

## Current Behavior

Currently most of the content are not visible in light mode

## Expected Behavior

All the listed pages should show the correct content on dark and light mode.

- [ ] Bridge.
- [ ] Ecosystem
- [ ] Wallet
- [ ] History
- [ ] Earn
- [ ] Stake
- [ ] Dao
- [ ] FAQ's
- [ ] AirDrop
- [ ] BobaScope
- [ ] Lock
- [ ] Vote & Dao.
- [ ] All Modals.
- [ ] Notificati

[2022-09-23 12:12] sk-enya commented on #336
https://github.com/bobanetwork/boba/issues/377

duplicated

[2022-09-23 12:12] #336 closed

[2022-09-23 14:51] InoMurko opened #378 "[ETHBogota Workshop] in-person workshop"
[ ] intro to rollups + the future of boba (erigon and fraud proving) - SLIDES
[ ] what is Hybrid Compute - SLIDES

Hybrid Compute usage
[ ]  How can hybrid compute be used - EXAMPLE

[ ]   (story from The Andromeda University NFTs + EvoVerses use case)
[ ]  A Github project that points to Rinkeby Boba with self contained examples.
[code]
This helps developers know what exactly they should do so th

[2022-09-23 19:05] wsdt commented on #378
@mmontour1306 Can the extended payload HybridCompute version already be publicly used?

---

1. Do we have the slides already? Would assume so? Would I also be presenting rollups & HC from the theoretic POV?
2. Sure can show how to use HybridCompute in a workshop! Haven't been involved in EvoVerses yet, would be great if you could give me some insights here.
3. I think it would make sense to have

[2022-09-23 19:07] InoMurko commented on #378
1,2 will give you updates here!

[2022-09-23 19:58] #333 closed

[2022-09-23 20:32] sk-enya commented on #334
Closing as we are creating separate issues for sentry error from sentry.

[2022-09-23 20:32] #334 closed

[2022-09-23 21:39] mmontour1306 commented on #378
https://github.com/bobanetwork/boba/pull/204 needs to be reviewed and merged into the develop branch. I've removed the "don't merge yet" label. The previous test failures were evidently intermittent or unrelated to my code changes since I did get one clean run prior to the most recent merge from develop (which is still running its tests).

[2022-09-23 22:11] Boyuan-Chen opened #381 "Add the configuration in batch submitter to bypass the code check before sending out the `eth_estimateGas`"
## Issue Type

[code]

## Current Behavior

In go/pkg/mod/github.com/ethereum/go-ethereum@v1.10.12/accounts/abi/bind/base.go, the package verifies that the contract is not in the pending stage before sending the `eth_estimateGas` request. Therefore, the batch submitter gets stuck for getting the gas estimation.

## Expected Behavior

We can add the gas limit in the request to bypass the `eth_estim

[2022-09-23 22:13] Boyuan-Chen commented on #381
https://github.com/bobanetwork/boba/pull/380

[2022-09-25 06:07] #338 closed

[2022-09-25 06:07] #363 closed

[2022-09-25 06:07] #366 closed

[2022-09-25 14:47] sk-enya opened #385 "[Gateway] : Add meta (OG) tags to gateway."
## Issue Type

[code]

## Current Behavior

Currently, gateway doesn't have SEO-supported meta tags for the title, description.

## Expected Behavior

Make use of meta tags and populate the images required descriptions for different websites
like Twitter, Facebook and other social media tags.

[2022-09-26 15:03] InoMurko commented on #375
Logs done, thanks @Boyuan-Chen !
cc @trangtran-enya

[2022-09-27 08:54] InoMurko commented on #378
2.:
https://github.com/EvoVerses/contracts/blob/main/contracts/npc/BreederBetty/BreederBetty.sol
https://thedefiant.io/to-understand-zk-is-to-become-a-believer

[2022-09-27 10:04] InoMurko commented on #374
thank you!

[2022-09-27 14:41] wsdt commented on #378
Repository for the workshop:
https://github.com/bobanetwork/HybridCompute_Tutorial

Will do a starter and finish branch.

---

After discussing with Ino, I'll move away from the local setup and document for the public testnet with a preconfigured public endpoint that is deployed by us.

[2022-09-28 17:55] wsdt commented on #378
Updated the documentation of the workshop:
https://github.com/bobanetwork/HybridCompute_Tutorial

https://github.com/bobanetwork/HybridCompute_Tutorial/blob/non-local/README.md

Feedback welcome

[2022-09-29 11:15] InoMurko commented on #316
Hi,
can you please provide more details. Like:

How are you listening for a new block?
Where do you get that block id from?

When you get block id, how do you read block data?

[2022-09-29 14:38] istankovic commented on #316
We're using `web3py` and we're polling each second the above mentioned RPC node for the new block.

We try to get the block's logs, for example.

[2022-09-29 14:42] istankovic commented on #316
Could this be related to https://github.com/bobanetwork/boba/issues/239?

[2022-09-29 14:55] InoMurko commented on #316
@istankovic it def is.
Can you share that chunk of code? Anyhow, I don't think we can help.

The nature of data transfer is that it happens async - we can't put the Sequencer Geth node any closer to the Replica Geth node to reduce the sync time.
I suggest you're less agressive between `eth_getBlockByNumber ` and `eth_getBlockByHash ` or retry until you get what you're looking for :-)

[2022-09-30 03:53] #296 closed

[2022-09-30 07:56] istankovic commented on #316
The issue here is not the proximity to the sequencer node, but rather the fact that the replica node announces the new block, without block data being available. That is the real issue. The replica node should be fixed so that the new block is announced only when the data is there. Otherwise, you will always have the time window where you announce the new block, but block data is not there yet.

[2022-09-30 08:40] InoMurko commented on #316
how do you call `eth_getBlockByNumber`?
[code]

where are you gettting the latest blocknumber from?

[2022-09-30 08:56] istankovic commented on #316
We're calling `eth_getBlockByNumber` by providing an explicit block number (an integer). That block number we obtain by calling `eth_blockNumber` just before `eth_getBlockByNumber`.

So the sequence of calls is roguhly
[code]

Both calls are made to the replica node.

[2022-09-30 09:00] InoMurko commented on #316
you can fix that by calling eth_getBlockByNumber with `latest` and `true` (to get block data for the latest available block). One less RPC call for your bridge :-)

[2022-09-30 09:04] istankovic commented on #316
Unfortunately, that would not work for us because we need not just the latest block data but also previous blocks' data.

[2022-09-30 10:46] InoMurko commented on #316
[code]

[2022-09-30 11:14] InoMurko opened #393 "[gateway] expose depositing to other account"
## Issue Type

[code]

## Current Behavior
We're not exposing two methods of native bridging:
[code]

## Expected Behavior
[code]

## Steps to Reproduce

1.
2.
3.

## Suggested Fix
Expose bridging to XYZ account on L2.

Also fix the UX (native bridge at the top, other bridges to the bottom)

[2022-09-30 11:15] InoMurko commented on #393
@sk-enya ... @souradeep-das will help you if you have problems implementing

[2022-09-30 11:16] InoMurko commented on #393
@0xwinnie should fix the UX (Boba Classic Bridge needs to be on top), Third party bridges bellow, and new inputs for this issue.

[2022-09-30 11:22] istankovic commented on #316
Well, I really would not like to reproduce our setup here; the purpose of sequence of calls provided above was to illustrate the issue and provide a minimal scenario where the Boba RPC node misbehaves.

In my opinion, the RPC node should never announce a new block without that block's data being available.
Alternatively, any request needing block data for a block that had been announced, but for w

[2022-09-30 17:49] InoMurko opened #395 "[gateway] instances cannot be reached from different parts of the world"
Does not work from Europe (@InoMurko ) /Asia (@sk-enya ):
https://bobabeam.boba.network/
https://bobabase.boba.network/
https://testnet.avax.boba.network/
https://avax.boba.network/
https://testnet.bnb.boba.network/
https://bnb.boba.network/
Works:
https://gateway.rinkeby.boba.network/
https://gateway.boba.network/

[2022-09-30 17:57] Boyuan-Chen commented on #395
Does https://gateway.bobabeam.boba.network work for you?

[2022-09-30 17:59] Boyuan-Chen commented on #395
The bobabeam gateway should be reachable globally based on the tests.
https://www.uptimia.com/website-availability-test/f3b53342

[2022-10-01 06:24] InoMurko commented on #395
I can't reach our alts with my phone either (LTE). 😩

[2022-10-01 10:33] sk-enya commented on #395
<img width="698" alt="Screenshot 2022-10-01 at 4 02 32 PM" src="https://user-images.githubusercontent.com/86316370/193405314-a1cfefd3-f5ac-4d64-9bf0-06420aaa7b7b.png">
Getting something like this when I open other gateway which @InoMurko has mention not working.

[2022-10-01 10:33] sk-enya commented on #395
Yeah this is working for me.

[2022-10-01 10:51] InoMurko commented on #395
[code]

[2022-10-01 13:25] InoMurko commented on #395
For me too

[2022-10-01 14:43] #395 closed

[2022-10-03 16:38] #360 closed

[2022-10-03 20:53] Boyuan-Chen opened #397 "[gateway]: multi wallet support like wallet connect and others"
## Issue Type

[code]

## Current Behavior

## Expected Behavior

Support the Wallet Connect to let users use the multisig

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-10-03 23:55] Boyuan-Chen commented on #326
I have created the account and deposited funds, but it hasn't supported the alt L1s.

[2022-10-04 05:38] sk-enya commented on #393
![Screenshot 2022-10-04 at 11 07 15 AM](https://user-images.githubusercontent.com/86316370/193742628-aff3ffff-298c-48c3-872c-f9d34a9d7005.png)

[2022-10-04 17:22] Boyuan-Chen opened #399 "NFT batch bridge"
## Issue Type

[code]

## Current Behavior

It can reduce the costs for users a lot and improve the user experience for the whale.

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-10-06 17:07] Boyuan-Chen opened #404 "[Gateway] How to handle the special case of ERC20 tokens in gateway?"
## Issue Type

[code]

## Current Behavior

https://github.com/bobanetwork/boba/pull/403

We should have a standard way to handle the special tokens that are not ERC20 compatible in our gateway.

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-10-08 02:00] Boyuan-Chen opened #405 "L2NFTBridge bug"
## Issue Type

[code]

## Current Behavior

The NFT can be locked in L1NFTBridge contract.

If it's reverted at this step, then the NFT is locked at L1NFTBridge contract.

https://github.com/bobanetwork/boba/blob/78b450cc395b96f2b6a419683831e5f5a975c866/packages/boba/contracts/contracts/bridges/L2NFTBridge.sol#L473

## Expected Behavior

We need a try{}catch{} function to relay the NFT back to use

[2022-10-09 13:00] wsdt opened #406 "Invalid Routing - Gateway: Access Denied Error"
## Issue Type

[code]

## Current Behavior
When accessing pages via path and not the root-url then the server shows an access denied error.

![Screenshot_20221009-075606_Brave](https://user-images.githubusercontent.com/28724551/194758112-227f17dc-17f4-41ca-8add-956d00dedf83.jpg)

## Expected Behavior
Correct redirection.

## Steps to Reproduce

1. Call gateway.rinkeby.boba.network/wallet

## Sugge

[2022-10-09 16:04] #406 closed

[2022-10-10 12:47] sk-enya commented on #404
@Boyuan-Chen can you please help how do we have to handle the special tokens. can you please add any example tokens and it's way of handling?

[2022-10-12 02:23] Macsage opened #409 "I claimed your L1 Airdrop tokens on 8/15 at 9:12 pm, but they never showed up in my L2 wallet."
## Issue Type

[code]

## Current Behavior

 I claimed your L1 Airdrop tokens on 8/15 at 9:12 pm, but they never showed up in my L2 wallet.

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-10-18 13:33] #365 closed

[2022-10-18 16:21] sentry-io[bot] opened #417 "[Gateway] Investigate: Objects are not valid as a React child (found: object with keys {type, hex}). If you meant to ren..."
Sentry Issue: [GATEWAY-4E](https://sentry.io/organizations/enya-inc/issues/3678371830/?referrer=github_integration)

[code]

[2022-10-18 22:28] Boyuan-Chen opened #418 "Support ERC1155 in our NFT bridge"
## Issue Type

[code]

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-10-20 14:11] InoMurko opened #420 "[gateway] Clear Gateway from hardcoding any Rinkeby mentions"
Hardcoded URLs pointing to Rinkeby (infura), Rinkeby name used, Chain id 28 hardcoded, etc.

[2022-10-21 14:14] sk-enya opened #423 "[Gateway] Prepare react component to down all supported chains update the application state."
[Gateway] Prepare react component to down all supported chains update the application state.

[2022-10-21 14:14] sk-enya opened #424 "[Gateway] Prepare the feature list to enable for each chain"
[Gateway] Prepare the feature list to enable for each chain

[2022-10-21 14:14] sk-enya opened #425 "[Gateway] Extend network service to support multichain configuration base on user selection"
[Gateway] Extend network service to support multichain configuration base on user selection

[2022-10-21 17:57] #405 closed

[2022-10-23 19:19] InoMurko opened #431 "[gateway] for alt-l1"
[code]

Hover text is wrong on alt-l1 as ETH is not the payment token on these chains.

[2022-10-23 20:31] Boyuan-Chen commented on #431
https://github.com/bobanetwork/boba/pull/432

[2022-10-24 12:55] InoMurko opened #433 "[gateway] alt-l1 - faucet amounts are wrong"
![image](https://user-images.githubusercontent.com/2582555/197530197-bcef7b25-337f-4a5c-9393-859e7dcafe32.png)

We're saying we're giving 10 testnet BOBA, but we're giving 0.1!

[2022-10-24 13:03] wsdt commented on #433
Which chain?

[2022-10-24 13:04] InoMurko commented on #433
BNB, but I think all have this issue :-)

[2022-10-24 13:08] wsdt commented on #433
ok will check! thx

[2022-10-24 14:14] wsdt commented on #433
@InoMurko Interesting, can't find the `10 testnet BOBA` text in neither the BobaBase nor the Boba main repository.

That's the actual text everywhere:

[code]

Feels like this was a spontaneous change by someone?

[2022-10-24 14:15] InoMurko commented on #433
Have you tried alt-l1?

[2022-10-24 14:17] InoMurko commented on #433
[code]

~/boba/packages/boba/gateway/src/containers/wallet/token/Token.js

[2022-10-24 14:20] wsdt commented on #433
@sk-enya why the change?

Returned to previous welcome message.
https://github.com/bobanetwork/boba/commit/d5a9139a0210a4b6184d00da3b693010225d871c

[2022-10-24 17:26] InoMurko commented on #431
done

[2022-10-28 14:13] Macsage opened #437 "I claimed my L1 Airdrop tokens on 8/15 at 9:12 pm, but they never showed up in my L2 wallet. On my transactions list I only see my L1 clam but nothing showed up on L2 and no pending transaction"
## Issue Type

[code]

## Current Behavior

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-11-01 18:12] MitchellUnknown opened #442 "[Gateway ecosystem page - replace broken link]"
Unidex has switched their dapp from beta -> main. So their old link is broken.

Broken link:
https://unidexbeta.app/trading

New link:
https://app.unidex.exchange/trading

Location:
https://gateway.boba.network/ecosystem/defi

[2022-11-02 15:41] InoMurko opened #444 "[gateway] integrate Banxa fiat-on ramp"
## Issue Type

[code]

## Current Behavior
There's no FIAT on ramp

## Expected Behavior
Integrate https://docs.banxa.com/docs
on Ethereum BOBA ONLY.

## Steps to Reproduce

1. https://arbitrum.banxa.com/
2.
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/2582555/199533940-d5d66bfc-5d86-46b0-af65-21f213f55544.png">

3.

## Suggested Fix

[2022-11-02 18:05] Boyuan-Chen commented on #433
Can we update the faucet amount in the contract?

[2022-11-03 11:51] wsdt commented on #433
Done:
https://blockexplorer.testnet.bnb.boba.network/tx/0xe35bb75e8d83cc79716843c8e106030bd272cd7d5c06ad83289238e8a9846f29

Set native currency claim amount to 5 + token claim amount to 5 as requested.

Want me to do it for all Alt-L2's? If so please confirm that this ratio is correct / desired.

@Boyuan-Chen

[2022-11-03 11:56] wsdt commented on #433
got confirmation from Ino.

[2022-11-03 12:13] wsdt commented on #433
Fuji:
https://blockexplorer.testnet.avax.boba.network/tx/0x55d51018399fec835d52160a3ae86aea4a55eb7df25cebb3d37c674af434edc0

Opera Testnet:
https://blockexplorer.testnet.bobaopera.boba.network/tx/0x0110b2abde7c3cfd6a0ce37115ea410fb34737cf544e0e7f429d8dcf7a618830

[2022-11-03 14:14] #433 closed

[2022-11-03 14:14] wsdt commented on #433
waiting for BobaBeam confirmation

[2022-11-04 12:26] InoMurko commented on #433
From who? Or what exactly?

[2022-11-04 13:19] Boyuan-Chen commented on #433
The bobabeam is confirmed

[2022-11-05 21:40] ytrezq opened #446 "Please make sender match `tx.origin` in transactions traces when the transaction is sent from L1."
Currently, when sending a transaction from L1, sender is left unset in the transaction trace on the L2 side, which makes it as if the transaction is sent from `address(0x0)` in block explorers.

Please change this in order to have the sender matching the `tx.origin` being used at the execution level.

[2022-11-08 21:13] Boyuan-Chen opened #450 "[Teleportation] Gateway supports the new bridge"
## Issue Type

[code]

## Current Behavior

## Expected Behavior

The goal is to add a new button called `bridge to Alt L2s` for BOBA token and a modal for bridging, just like the L1 cross chain bridge

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-11-09 12:43] #393 closed

[2022-11-09 12:43] #420 closed

[2022-11-14 16:43] souradeep-das commented on #446
Hi! thanks for looking into this!

We use address aliasing on originators for L1->L2 transactions, to protect from the condition that a contract on L1 and another on L2 can have the same address, yet have different code.
The aliasing happens for messages from contracts, does not happen for EOAs though

So if you actually tried to get the tx traces from geth, it would give you an address aliased (L

[2022-11-14 16:56] ytrezq commented on #446
@souradeep-das according to Blockscrout the behavior is in the trace. This is also explains the difference with Blockscan where is the case of Arbiscan, the aliasing is displayed in transactions instead of using the null address.

[2022-11-15 12:38] #442 closed

[2022-11-16 13:56] InoMurko opened #457 "[hybrid compute] deploy https://turing.rinkeby.boba.network/"
## Issue Type
We need a copy of https://turing.rinkeby.boba.network/ deployed to https://hcb.goerli.boba.network/
[code]

## Current Behavior
Turing and rinkeby, both deprecated

## Expected Behavior
Use Hybrid Compute Boba.
Decomission Rinkeby, provision Goerli.

## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-11-16 15:55] InoMurko commented on #457
I'll fix the code if @Boyuan-Chen deploys :P

[2022-11-16 15:56] wsdt commented on #457
Fix? Is something broken?

[2022-11-16 15:57] InoMurko commented on #457
turing should be swapped for hybrid compute (hc) and references to Rinkeby removed, if they exist.

[2022-11-16 16:02] wsdt commented on #457
ah sure - happy to do that (not having access to DNS though - needs to be done by one of you guys then).

[2022-11-16 17:26] sk-enya opened #459 "[Gateway] : Features needs to be enable for each deployment on gateway"
## Issue Type

[code]

## Current Behavior
Currently we have all the features on gateway enable for the mainnet and rinkeby.

## Expected Behavior
Need help on what features needs to be enable for the each deployment like.

1. MoonBeam <> BobaBeam
2. MoonBase <> Bobabase
3. Avalanche <> Boba Avax
4. Fantom <> Boba Fantom

[2022-11-16 17:26] sk-enya commented on #459
@Boyuan-Chen @InoMurko can you please list down the features which we have to enable for the each deployment so I will setup the gateway accordingly.

[2022-11-19 10:38] sk-enya opened #465 "[Gateway] : Auto-Switch MM shows wrong network modal."
## Issue Type

[code]

## Current Behavior

It would be great if the network auto-switched when you press Blue Connect button while on the wrong-network. Currently the auto-switch happens only if you press the network buttons in the upper right hand corner.

https://docs.google.com/document/d/1wWrjQE0FcDkHY8QDh3VP4Es_jRBQGTPsli3TY96jo1k/edit

## Working of MM connect

![Screenshot 2023-02-22 at 7

[2022-11-21 17:07] sentry-io[bot] opened #467 "[Gateway] : Airdrop deprecated : Error: Request failed with status code 501"
Sentry Issue: [GATEWAY-43](https://sentry.io/organizations/enya-inc/issues/3652825246/?referrer=github_integration)

[code]

[2022-11-23 16:24] #467 closed

[2022-11-23 16:45] sk-enya commented on #459
![Screenshot 2022-11-23 at 10 15 36 PM](https://user-images.githubusercontent.com/86316370/203602228-2fa9fcbe-1974-4592-b397-f918dcac8fec.png)

[2022-11-23 17:03] Boyuan-Chen commented on #459
<img width="277" alt="image" src="https://user-images.githubusercontent.com/46272347/203606517-5f38f658-de4c-40fc-a0c3-20c34e650152.png">

[2022-11-23 23:39] Boyuan-Chen opened #478 "[Gateway] Should enable the button after confirming the tx from L1 to L2"
## Issue Type

[code]

## Current Behavior

![image](https://user-images.githubusercontent.com/46272347/203663978-427b2e35-6bb9-4586-b311-3694775fc82f.png)

## Expected Behavior

The button should be re-enabled when users deposit funds from L1 to L2.
## Steps to Reproduce

1.
2.
3.

## Suggested Fix

[2022-11-24 12:34] ducknessman commented on #64
how to solve this problem?

[2022-11-29 12:09] InoMurko commented on #459
@Sahil Kashetwar
Ethereum Boba:
Bridge
Ecosystem
Wallet
History
Earn
Stake
BOBA Chains
Dao

BNB Boba:
Bridge
Ecosystem
Wallet
History
BOBA Chains

Moonbeam boba:

Bridge
Ecosystem
Wallet
History
BOBA Chains

Fantom boba:

Bridge
Ecosystem
Wallet
History
BOBA Chains
Avax Boba:

Bridge
Ecosystem
Wallet
History
BOBA Chains

[2022-11-29 12:17] sk-enya commented on #459
Footer pages will be as is.
FAQs
BobaScope
Blockexplorer  (link will be different for each deployments)
Boba Docs

[2022-11-30 04:56] sk-enya commented on #459
@InoMurko we have `monster` in the menu list as well do we have to show it for all deployments? or only in case Ethereum?